/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

body {
	width: 100%;
	color: #192A33;
	/* background-color: #2A572E; /* Green Dragon Green */
	background: -webkit-linear-gradient(#2A572E, #285f2e); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2A572E, #285f2e); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2A572E, #285f2e); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#2A572E, #285f2e); /* Standard syntax */
}

i {
	margin-right: 5px;
}

p {
	color: #444449;
	/* font-family: 'Gentium Basic', serif; */
	font-family: 'Tahoma', serif;
	margin-top: 0;
}

h2 {
	margin-top: 1.5em;
}

.fb-like {
	margin-top: 1em;
}

.pre-header {
	font-variant: small-caps;
	font-family: 'Libre Baskerville', serif;
	color: #eee;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 40px;
	text-shadow: 2px 2px #000;
}

.page-sub-title {
	font-size: 20px;
	float: right;
	text-align: center;
	margin-top: -10px;
}

.top-image-container {
}

h1, h2 {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
}

h1 {
	font-size: 60px;
	line-height: 80%;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 25px;
	margin-bottom: 5px;
	color: #888;
}

.main article h1, h2, h3, h4 {
	font-family: 'Libre Baskerville', serif;
}

h5 {
	margin-bottom: 0;
}

.foot-text {
	color: #aaaaaa;
	font-size: 10px;
	margin-right: 10px;
}

.main-container {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 10px;
	background-color: #eaeaea;
}

.top-image {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

.top-image img {
	width: 100%;
}

/* end of jpickard mods */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 0 solid #e44d26;
	text-align: right;
	line-height: 15px;
}

.header-container,
.footer-container,
.main aside {
    background: #192A33;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */
.co-uk {
	display: none;
}

.page-sub-title {
	display: none;
}

.page-title {
	font-size: 30px;
	float: left;
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
	.main-container {
		width: 100%;
	}
/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }

}

@media only screen and (min-width: 580px) {
	.page-sub-title {
		display: block;
	}
}

@media only screen and (min-width: 768px) {
	.main-container {
		width: 100%;
	}

	.page-title {
		font-size: 40px;
	}

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 100%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 800px) {
	.co-uk {
		display: inline;
	}

	.page-sub-title {
		display: block;
	}
}

@media only screen and (min-width: 1140px) {
	.main-container {
		width: 100%;
	}

/* ===============
    Maximal Width
   =============== */

    .wrapper {
		font-size: 20px;
        margin: 0 100px 0px 80px;
    }

	h3 {
		font-size: 30px;
		margin-bottom: 10px;
	}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* Flexslider overrides */
.flexslider {
	border: 0;
}
